<!-- PRODUCT CARD -->
<div
  class="group bg-white cursor-pointer transition duration-300"
>
  <!-- IMAGE -->
  <div class="overflow-hidden bg-[#F6F6F6]">
    <img
      [src]="product().image"
      [alt]="product().title"
      class="w-full h-[320px] object-cover group-hover:scale-105 transition duration-500"
    />
  </div>

  <!-- CONTENT -->
  <div class="pt-5">
    <h3
      class="text-[18px] uppercase tracking-wide font-medium text-[#2D2A32] line-clamp-1"
    >
      {{ product().title }}
    </h3>

    <div class="flex items-center gap-3 mt-3">
      <p class="text-[20px] font-semibold text-[#2D2A32]">
        {{ product().price }}$
      </p>

      <span class="text-gray-400 line-through text-sm">
        {{ product().price + 20 }}$
      </span>
    </div>

    <button
      type="button"
      (click)="onAddToCart()"
      class="mt-5 w-full h-[48px] border border-[#2D2A32] uppercase tracking-[2px] text-sm hover:bg-[#2D2A32] hover:text-white transition duration-300"
    >
      Add To Cart
    </button>
  </div>
</div>
