<!-- HEADER -->
<header
  class="w-full h-[82px] border-b border-gray-200 bg-white px-6 lg:px-20 flex items-center justify-between"
>
  <!-- LOGO -->
  <div class="flex items-center gap-2 cursor-pointer">
    <div class="w-9 h-9 rounded-full border border-[#2D2A32] flex items-center justify-center">
      <span class="text-sm font-semibold">M</span>
    </div>

    <h1 class="text-[28px] font-semibold tracking-wide text-[#2D2A32]">ShopFront</h1>
  </div>

  <!-- NAVIGATION -->
<nav class="hidden md:flex items-center gap-10">
  @for (item of navItems; track item.path) {
    <a
      [routerLink]="item.path"
      routerLinkActive="text-black font-bold"
      class="text-[14px] uppercase tracking-wider text-[#2D2A32] hover:text-black transition"
    >
      {{ item.label }}
    </a>
  }
</nav>

  <!-- RIGHT SIDE -->
  <div class="flex items-center gap-5">
    <!-- SEARCH -->
    <app-search-bar (search)="handleSearch($event)" />

    <!-- CART -->
    <button
      type="button"
      class="relative border border-[#2D2A32] px-5 py-2 text-sm uppercase tracking-widest hover:bg-[#2D2A32] hover:text-white transition duration-300"
    >
      Cart
    </button>
  </div>
</header>
