<section class="max-w-277.5 mx-auto pb-20">
  <h1 class="sr-only">Shopping Cart</h1>
  <h2 class="mt-12.5 mb-10 text-black-marlin font-primary font-semibold text-2xl leading-[133%]">
    Cart ({{ heading() }})
  </h2>

  <!-- CART-ITEMS -->
  @if (items().length === 0) {
    <div class="text-center py-20">
      <p class="text-black-marlin font-primary text-lg">Your cart is empty</p>
      <a
        routerLink="/shop"
        class="inline-block mt-7 px-6 py-3 bg-black-marlin text-white cursor-pointer uppercase hover:opacity-70 transition"
      >
        Go to Shop
      </a>
    </div>
  } @else {
    <!-- TITLE -->
    <div
      class="grid grid-cols-[50px_120px_400px_180px_130px_180px] gap-2.5 max-w-277.5 h-12 uppercase bg-black-marlin text-white text-center items-center font-primary font-semibold text-sm leading-[143%] tracking-[0.06em]"
    >
      <div class="flex justify-center">
        <img src="icons/cart/trash-icon.svg" alt="trash icon" class="w-4.75 h-5" />
      </div>
      <div>Photo</div>
      <div>Product</div>
      <div>Price</div>
      <div>Quantity</div>
      <div>Subtotal</div>
    </div>

    <!-- ITEMS-LIST -->
    <div class="mb-10">
      @for (item of items(); track item.id) {
        <!-- CART-ITEM -->
        <div
          class="grid grid-cols-[50px_120px_400px_180px_130px_180px] gap-2.5 py-5 border-b border-black font-primary text-sm text-black-marlin font-semibold leading-[143%] tracking-[0.06em]"
        >
          <!-- DELETE BUTTON -->
          <div class="flex justify-center items-center">
            <button
              (click)="onRemoveFromCart(item.id)"
              class="cursor-pointer hover:opacity-70 transition-opacity"
            >
              <img src="icons/cart/delete-btn.svg" alt="delete button" />
            </button>
          </div>

          <!-- IMAGE -->
          <img [src]="item.image" [alt]="item.name" class="mx-auto" />
          <!-- PRODUCT NAME -->
          <div class="flex justify-center items-center uppercase">{{ item.name }}</div>

          <!-- CURRENT PRICE -->
          <div class="flex justify-center items-center">
            {{ item.price | currency: 'USD' : 'symbol' : '1.0-0' }}
          </div>

          <!-- QUANTITY SELECTOR -->
          <app-quantity-selector
            [itemId]="item.id"
            [itemQuantity]="item.quantity"
            (increase)="onIncreaseQuantity($event)"
            (decrease)="onDecreaseQuantity($event)"
            class="flex justify-center items-center"
          />

          <!-- SUBTOTAL -->
          <div class="flex justify-center items-center text-light-brown">
            {{ item.price * item.quantity | currency: 'USD' : 'symbol' : '1.0-0' }}
          </div>
        </div>
      }
    </div>

    <div class="flex">
      <!-- PROMO CODE BUTTON -->
      <div class="pb-10">
        @if (!isDiscountApplied()) {
          <app-button
            [variant]="ButtonVariant.Outline"
            [type]="ButtonType.Button"
            (click)="modalVisible.set(true)"
          >
            Apply Promo Code
          </app-button>
        }

        @if (isDiscountApplied()) {
          <app-button [variant]="ButtonVariant.Outline" (click)="onResetDiscount()">
            Remove Promo Code
          </app-button>
        }
      </div>

      <!-- PROMO CODE MODAL -->
      @if (modalVisible()) {
        <app-promo-code
          [isOpen]="modalVisible()"
          (closed)="modalVisible.set(false)"
          (totalChanged)="onTotalChanged($event)"
        />
      }

      <!-- TOTAL -->
      <div
        class="max-w-135 px-10 py-12.5 ml-auto bg-black-marlin text-white font-primary font-semibold text-xl leading-[140%] flex-2"
      >
        <h3 class="mb-10">Cart totals</h3>

        @if (discount() > 0) {
          <div class="flex justify-between text-base mb-3 text-light-brown">
            <div>Discount</div>
            <div>- {{ discountAmount() | currency: 'USD' }}</div>
          </div>
        }

        <div class="flex justify-between text-base">
          <div>Total</div>
          <div>{{ totalForPromo() | currency: 'USD' }}</div>
        </div>
      </div>
    </div>
  }
</section>
