<div class="field">
  @if (label) {
    <label class="field__label" for="input-field">
      {{ label }}
      @if (required) {
        <span class="field__required">*</span>
      }
    </label>
  }

  <input
    id="input-field"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="isDisabled"
    [ngClass]="{
      field__input: variant !== 'underline' && variant !== 'card',
      'field__input--underline': variant === 'underline',
      'field__input--card': variant === 'card',
      'field__input--error': error,
    }"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />

  @if (error) {
    <span class="field__error">
      {{ error }}
    </span>
  }
</div>
