@let quantity = itemQuantity();

<div class="flex justify-between items-center w-full h-12 px-3 border border-black-marlin">
  <button
    (click)="onDecrease()"
    [ngClass]="{
      'cursor-pointer': quantity > 1,
      'hover:opacity-70': quantity > 1,
    }"
    class="w-3 h-3 transition-opacity"
  >
    @if (quantity === 1) {
      <img src="icons/cart/minus-btn-disabled.svg" alt="minus button" />
    } @else {
      <img src="icons/cart/minus-btn.svg" alt="minus button" />
    }
  </button>
  <span>{{ quantity }}</span>
  <button (click)="onIncrease()" class="cursor-pointer w-3 h-3 hover:opacity-70 transition-opacity">
    <img src="icons/cart/plus-btn.svg" alt="plus button" />
  </button>
</div>
