<section class="flex max-w-277.5 mx-auto">
  <!-- TEXT-CONTENT -->
  <div class="flex flex-col justify-center items-center w-[50%] bg-seashell text-center">
    <h2
      class="max-w-99.5 mx-auto font-secondary font-bold text-[28px] uppercase leading-[114%] tracking-[0.04em] mb-6 text-black-marlin"
    >
      Up to 40% off our Christmas collection
    </h2>

    <p
      class="max-w-97.25 mx-auto font-primary font-normal text-base leading-[150%] mb-8 text-zambezi"
    >
      Use promo code <span class="font-bold">XMAS40</span> at checkout to save 40% on our entire
      Christmas collection.
      <br />
      Limited time offer — don't miss out!
    </p>

    <a
      routerLink="/shop"
      class="flex justify-center items-center w-30.25 h-10 font-primary font-bold text-sm leading-[143%] tracking-[0.06em] uppercase underline underline-offset-4 text-black-marlin"
      >Shop now</a
    >
  </div>

  <!-- BANNER -->
  <img src="images/promo-section/promo-banner.jpg" alt="promo-banner" class="w-[50%]" />
</section>
