<section class="relative h-160">
  <!-- BANNER -->
  <img
    src="images/hero-section/hero-banner.jpg"
    alt="Hero banner"
    class="w-full h-full object-cover"
  />

  <!-- TEXT-CONTENT -->
  <div
    class="flex flex-col justify-center items-center gap-10.5 bg-dark-brown w-105 h-full absolute top-0 left-41.25"
  >
    <img src="icons/logo-icon.svg" alt="logo-icon" class="w-21.5 h-20.5" />
    <p class="font-primary text-cream font-normal text-base leading-[150%]max-w-68.25">
      Handcrafted in Viet Nam since 1650
    </p>
    <h1
      class="font-secondary text-cream font-bold text-4xl leading-[111%] tracking-[0.04em] text-center max-w-68.25 uppercase"
    >
      BAT TRANG DINNER SET
    </h1>
    <button
      class="flex items-center justify-center w-55 h-10 bg-[#ffffff] p-[15px_18px] font-primary text-dark-brown font-semibold uppercase hover:cursor-pointer"
    >
      SHOP NOW
    </button>
  </div>
</section>
